/* 
/* .dark-theme{
  background-color: black;
  color: beige;
} */
 *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 }
  img{
  max-width: 100px;
 }
 body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}


.container {
  max-width: 1200px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 40px;
  padding: 20px;
}


#pro{
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 40px;
  transition: transform 0.2s;
}



img {
 
  object-fit: cover;
  background-color: #ddd;
}
span{
 
  padding-top: 20px;
  font-size: 30px;
  font-weight: bold;
 ;
  color: #bea6a6;
}

p {
  font-size: 14px;
  color: #706161;
  margin-bottom: 15px;
  height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
}

h4 {
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #53a2f7;
} */